<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=50%">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <title>User Reservations</title>
</head>
<body>
<div class="container">
  <br>
  <h2>Team 5 Rent-A-Car</h2>
<h2>Existing User Reservations</h2>
  <p><b>NOTE TO PROFESSOR</b><br>
    From this page a user can:<ul>
  <li>see their existing reservation(s) and get their confirmation number(s)</li>
  <li><a href="/reservation/cancel">CLICK HERE</a> to go to the cancellation page</li>
  <li><a href="/">CLICK HERE</a> to return to main car rental page</li></ul></p>
  <div class="border border-danger p-4 w-50">
    <table>
		<tr th:each="carReservation: ${reservations}">
<table>
  <tbody>
    <tr>
      <td>Confirmation Number:</td>
      <td th:text="${carReservation.reservationID}"></td>
    </tr>
    <tr>
      <td>Car ID:</td>
      <td th:text="${carReservation.carID}"></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td th:text="${carReservation.email}"></td>
    </tr>
    <tr>
      <td>Pick-Up Location:</td>
      <td th:text="${carReservation.pickupLocation}"></td>
    </tr>
    <tr>
      <td>Pick-Up Date:</td>
      <td th:text="${carReservation.pickupDate}"></td>
    </tr>
    <tr>
      <td>Drop-Off Location:</td>
      <td th:text="${carReservation.returnLocation}"></td>
    </tr>
    <tr>
      <td>Drop-Off Date:</td>
      <td th:text="${carReservation.returnDate}"></td>
    </tr>
    <tr>
      <td>Total Cost:</td>
      <td th:text="${carReservation.total}"></td>
    </tr>
  </tbody>
</table>
		</tr>
	</table>

  </div>
</div>
<footer class="py-5">
  <div class="container">
    <p class="m-0 text-center">CSUMB CST 438 Software Engineering Copyright &copy; 2020 Gonzalez, Houser, Pettit, Reed</p>
    <p class="m-0 text-center"><b>Disclaimer:</b> The information on this webpage is fictitious. It is used for academic purposes only.</p>
  </div>
  <!-- /.container -->
</footer>
</body>
</html>